extends layout

include mixins/_gameForm
include mixins/_game
include mixins/_editGameCard

block content
  h2= title
  if week.games
    p Do not pick winners here
    form.form-group.card(name="done")
      each game, i in week.games
        +editGameCard(game)
        +game(game, i, currentPick)

    +gameForm(week)