extends layout

include mixins/_standingsCard
include mixins/_gameForm
include mixins/_game
include mixins/_winnerPicksForm
include mixins/_weeklyGamePicksForm

block content
  .container
    - let currentPick
    - let pickId = ''
    - let complete;
    if user
      p= `Welcome ${user.name}!`
      p= `${week.name} Spread Picks`
      +weeklyGamePicksForm()
    else
      a(href="/login")
        p Please sign in to make picks
    +standingsCard()


    script(src="/javascripts/modules/weeklyGames.js")