extends layout

include mixins/_teamOptions

block content
  .inner
    form.form(action="/join" method="POST")
      h2 Join
      label(for="name") Name
      input(type="text" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="password" name="password") Password
      input(type="password" name="password")
      label(for="password-confirm" name="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      label(for="favTeam" name="favTeam") What's your favorite Team?
      .btn-group
        select.btn-lg(type="text" name="favTeam")
          +teamOptions()
      input.button(type="submit" value="Register")