mixin gameFormEnd(week)
  div
    label(for="home") Home Team
    input.form-control(type="text" name="home" value=week.home)
    label(for="away") Away Team
    input.form-control(type="text" name="away" value=week.away)
    label(for="spread") Point Spread
    input.form-control(type="Number" name="spread" value=week.spread)
    label(for="gameDate") Game Date
    input.form-control(type="datetime-local" name="gameDate" )
    p
  input(type="submit" value="Save Game" class="btn form btn-secondary btn-lg")

  script(src="/javascripts/modules/spreadAdjustment.js")