mixin preseasonLayout()
  //- ACC
  - teams = [[1, 'Clemson'],[2, 'Syracuse'], [3, 'Florida State'], [4, 'NC State'], [5, 'Boston College'], [6, 'Wake Forest'],[7, 'Louisville']];
  - division = 'ACCa'
  - conference = 'ACC'  
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Virginia'],[2, 'Miami'], [3, 'Virginia Tech'], [4, 'Pittsburgh'], [5, 'Duke'], [6, 'North Carolina'],[7, 'Georgia Tech']];
  - division = 'ACCc'
  - conference = 'ACC'
  +preseasonCard(teams, division, conference)
  - teams = [[0, 'ACC Atlantic'], [0, 'ACC Coastal']];
  - division = 'ACC'
  - conference = 'ACC'
  +preseasonCard(teams, division, conference)
  //- SEC
  - teams = [[1, 'Georgia'],[2, 'Florida'], [3, 'Missouri'], [4, 'South Carolina'], [5, 'Tennessee'], [6, 'Kentucky'],[7, 'Vanderbilt']];
  - division = 'SECe'
  - conference = 'SEC'  
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Alabama'],[2, 'LSU'], [3, 'Texas AM'], [4, 'Auburn'], [5, 'Mississippi State'], [6, 'Ole Miss'],[7, 'Arkansas']];
  - division = 'SECw'
  - conference = 'SEC'  
  +preseasonCard(teams, division, conference)
  - teams = [[0, 'SEC East'], [0, 'SEC West']];
  - division = 'SEC'
  - conference = 'SEC'
  //- Big 10
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Michigan'],[2, 'Ohio State'], [3, 'Michigan State'], [4, 'Penn State'], [5, 'Indiana'], [6, 'Maryland'],[7, 'Rutgers']];
  - division = 'Big10e'
  - conference = 'Big10'  
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Nebraska'],[2, 'Iowa'], [3, 'Wisconsin'], [4, 'Northwestern'], [5, 'Purdue'], [6, 'Minnesota'],[7, 'Illinois']];
  - division = 'Big10w'
  - conference = 'Big10'
  +preseasonCard(teams, division, conference)
  - teams = [[0, 'Big10 East'], [0, 'Big10 West']];
  - division = 'Big10'
  - conference = 'Big10'
  //- Pac 12
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Oregon'],[2, 'Washington'], [3, 'Stanford'], [4, 'Washington State'], [5, 'California'], [6, 'Oregon State']];
  - division = 'Pac12n'
  - conference = 'Pac12'  
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Utah'],[2, 'USC'], [3, 'Arizona State'], [3, 'UCLA'], [5, 'Arizona'], [6, 'Colorado']];
  - division = 'Pac12s'
  - conference = 'Pac12'
  +preseasonCard(teams, division, conference)
  - teams = [[0, 'Pac12 North'], [0, 'Pac12 South']];
  - division = 'Pac12'
  - conference = 'Pac12'
  //- Big 12
  +preseasonCard(teams, division, conference)
  - teams = [[1, 'Oklahoma'],[2, 'Texas'],[3, 'Iowa State'],[4, 'TCU'],[5, 'Oklahoma State'],[6, 'Baylor'],[7, 'Texas Tech'],[8, 'West Virginia'],[9, 'Kansas State'],[10, 'Kansas']];
  - division = 'Big12d'
  - conference = 'Big12'
  +preseasonCardBig12(teams, division, conference)
  - teams = [[0, 'Big12 Team'], [0, 'Big12 Team']];
  - division = 'Big12'
  - conference = 'Big12'
  +preseasonCardBig12(teams, division, conference)
  - 
    teams = [
      [1, 'Clemson'],
      [2, 'Alabama'],
      [3, 'Georgia'],
      [4, 'Oklahoma'],
      [5, 'Ohio State'],
      [6, 'LSU'],
      [7, 'Michigan'],
      [8, 'Florida'],
      [9, 'Notre Dame'],
      [10, 'Texas'],
      [11, 'Texas AM'],
      [12, 'Washington'],
      [13, 'Oregon'],
      [14, 'Penn State'],
      [15, 'Utah'],
      [16, 'Auburn'],
      [17, 'UCF'],
      [18, 'Wisconsin'],
      [19, 'Iowa'],
      [20, 'Michigan State'],
      [21, 'Washington State'],
      [22, 'Syracuse'],
      [23, 'Stanford'],
      [24, 'Iowa State'],
      [25, 'Northwestern'],
    ]
  - division = 'Top25'
  p.bold Pick 4 Playoff Teams (worth rank position)
  +playoffCard(teams, division)
  - teams = [[0, 'Team'], [0, 'Team'], [0, 'Team'], [0, 'Team']]
  - division = 'Playoff'
  p.bold Pick 2 Championship Teams (worth 2x rank position)
  +playoffCard(teams, division)
  - teams = [[0, 'Team'], [0, 'Team']]
  - division = 'ChampTeam'
  p.bold Who will win the championship? (worth 4x rank position)
  +playoffCard(teams, division)


  input(type="submit" value="Submit Picks" class=`btn form ${user.favTeam + ' active' || 'btn-secondary'} btn-lg`)