include _standingsRow

mixin standingsCard(currentUser)
  table.table
    thead
      td Standing
      td Name
      //- td Total Points
      td Record
      td Win Percentage
      //- td Preseason Points
    each user, i in users
      if currentUser && currentUser._id.equals(user._id)
        - let className = `${user.favTeam} active`
        +standingsRow(user, i, className)
      else
        +standingsRow(user, i)