mixin teamOptions()
  if user && user.favTeam
    option(value=`${user.favTeam}` class=`${user.favTeam}` selected)= `${user.favTeam}`  
  option(value='')
  option.Alabama(value='Alabama') Alabama
  option.Arizona(value='Arizona') Arizona
  option.Arizona.State(value='Arizona State') Arizona State
  option.Arkansas(value='Arkansas') Arkansas
  option.Auburn(value='Auburn') Auburn
  option.Baylor(value='Baylor') Baylor
  option.Boston.College(value='Boston College') Boston College
  option.California(value='California') California
  option.Clemson(value='Clemson') Clemson
  option.Colorado(value='Colorado') Colorado
  option.Duke(value='Duke') Duke
  option.Florida(value='Florida') Florida
  option.Florida.State(value='Florida State') Florida State
  option.Georgia(value='Georgia') Georgia
  option.Georgia.Tech(value='Georgia Tech') Georgia Tech
  option.Illinois(value='Illinois') Illinois
  option.Indiana(value='Indiana') Indiana
  option.Iowa(value='Iowa') Iowa
  option.Iowa.State(value='Iowa State') Iowa State
  option.Kansas(value='Kansas') Kansas
  option.Kansas.State(value='Kansas State') Kansas State
  option.Kentucky(value='Kentucky') Kentucky
  option.Louisville(value='Louisville') Louisville
  option.LSU(value='LSU') LSU
  option.Miami(value='Miami') Miami
  option.Michigan(value='Michigan') Michigan
  option.Michigan.State(value='Michigan State') Michigan State
  option.Minnesota(value='Minnesota') Minnesota
  option.Mississippi.State(value='Mississippi State') Mississippi State
  option.Missouri(value='Missouri') Missouri
  option.NC.State(value='NC State') NC State
  option.Nebraska(value='Nebraska') Nebraska
  option.North.Carolina(value='North Carolina') North Carolina
  option.Northwestern(value='Northwestern') Northwestern
  option.Notre.Dame(value='Notre Dame') Notre Dame
  option.Ohio.State(value='Ohio State') Ohio State
  option.Oklahoma(value='Oklahoma') Oklahoma
  option.Oklahoma.State(value='Oklahoma State') Oklahoma State
  option.Ole.Miss(value='Ole Miss') Ole Miss
  option.Oregon(value='Oregon') Oregon
  option.Oregon.State(value='Oregon State') Oregon State
  option.Penn.State(value='Penn State') Penn State
  option.Pittsburgh(value='Pittsburgh') Pittsburgh
  option.Purdue(value='Purdue') Purdue
  option.Rutgers(value='Rutgers') Rutgers
  option.South.Carolina(value='South Carolina') South Carolina
  option.Stanford(value='Stanford') Stanford
  option.Syracuse(value='Syracuse') Syracuse
  option.TCU(value='TCU') TCU
  option.Tennesse(value='Tennessee') Tennessee
  option.Texas(value='Texas') Texas
  option.Texas.AM(value='Texas AM') Texas AM
  option.Texas.Tech(value='Texas Tech') Texas Tech
  option.UCLA(value='UCLA') UCLA
  option.USC(value='USC') USC
  option.Utah(value='Utah') Utah
  option.Vanderbilt(value='Vanderbilt') Vanderbilt
  option.Virginia(value='Virginia') Virginia
  option.Virginia.Tech(value='Virginia Tech') Virginia Tech
  option.Wake.Forest(value='Wake Forest') Wake Forest
  option.Washington(value='Washington') Washington
  option.Washington.State(value='Washington State') Washington State
  option.West.Virginia(value='West Virginia') West Virginia
  option.Wisconsin(value='Wisconsin') Wisconsin